@import url("../../../styles/variables.css");

.container {
  display: flex;
  flex-direction: row;
  padding: 32px;
  gap: 32px;
  min-height: calc(100vh - 64px);
}

.filtersPanel {
  border-radius: 8px;
  padding: 16px;
  z-index: 10;
  width: 300px;
  min-width: 300px;
  height: fit-content;
  position: sticky;
  top: 32px;
}

.mainContent {
  flex: 1;
  min-width: 0;
}

.title {
  font-size: 48px;
  margin-bottom: 32px;
  color: transparent;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: linear-gradient(
    to right,
    var(--primary-gold),
    var(--accent-color)
  );
  -webkit-background-clip: text;
  background-clip: text;
  position: relative;
  padding-bottom: 16px;
}

.gamesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 24px;
  padding: 16px;
}

.noGames {
  color: var(--text-color);
  text-align: center;
  font-size: 18px;
  padding: 32px;
  grid-column: 1 / -1;
}