@import url("../../../styles/variables.css");

.container {
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 32px;
  min-height: calc(100vh - 64px);
}

.filtersPanel {
  border-radius: 8px;
  padding: 16px;
  z-index: 10;
  width: 100%;
  overflow-x: auto;
}

.mainContent {
  flex: 1;
}

.title {
  font-size: 48px;
  margin-bottom: 32px;
  color: transparent;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: linear-gradient(
    to right,
    var(--primary-gold),
    var(--accent-color)
  );
  -webkit-background-clip: text;
  background-clip: text;
  position: relative;
  padding-bottom: 16px;
}

.gamesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 32px;
  padding: 16px;
}

.gameCard {
  width: 100%;
  position: relative;
  background: var(--cyber-black);
  border-radius: 8px;
  overflow: hidden;
  transition: 0.2s ease;
  border: 1px solid rgba(205, 176, 108, 0.2);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.gameCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(255, 42, 109, 0.2);
  border-color: var(--primary-gold);
}

.gameCard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 0%,
    rgba(205, 176, 108, 0.1) 50%,
    transparent 100%
  );
  z-index: 1;
}

.gameImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 2px solid var(--primary-gold);
  transition: 0.2s ease;
}

.gameCard:hover .gameImage {
  transform: scale(1.05);
  filter: brightness(1.1);
}

.gameTitle {
  color: var(--text-color);
  font-size: 19px;
  font-weight: 600;
  padding: 16px;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  z-index: 2;
  background: linear-gradient(
    to right,
    var(--primary-gold) 0%,
    var(--text-color) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
}

.gamePrice {
  color: var(--primary-gold);
  font-size: 18px;
  font-weight: 600;
  padding: 0 16px 16px;
  margin: 0;
  position: relative;
  z-index: 2;
}

.noGames {
  color: var(--text-color);
  text-align: center;
  font-size: 18px;
  padding: 32px;
  grid-column: 1 / -1;
}
